@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(http://fonts.gstatic.com/l/font?kit=llyqETDery8rdd6hT6NbLUiTAQIjIqR2X2U_3etn1j8&skey=d01acf708cb3b73b&v=v11) format('woff2');
}
