        .sharer-0 {
            width: 92px;
            height: 20px;
            -webkit-touch-callout: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none
        }
        .sharer-0 [class*=entypo-]:before {
            font-family: entypo, sans-serif
        }
        .sharer-0 label {
            font-size: 16px;
            cursor: pointer;
            margin: 0;
            padding: 5px 10px;
            border-radius: 5px;
            background: #a29baa;
            color: #333;
            -webkit-transition: all .3s ease;
            transition: all .3s ease
        }
        .sharer-0 label:hover {
            opacity: .8
        }
        .sharer-0 label span {
            text-transform: uppercase;
            font-size: .9em;
            font-family: Lato, sans-serif;
            font-weight: 700;
            -webkit-font-smoothing: antialiased;
            padding-left: 6px
        }
        .sharer-0 .social {
            opacity: 0;
            -webkit-transition: all .4s ease;
            transition: all .4s ease;
            margin-left: -15px;
            visibility: hidden
        }
        .sharer-0 .social.top {
            -webkit-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            transform-origin: 0 0;
            margin-top: -80px
        }
        .sharer-0 .social.bottom {
            -webkit-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            transform-origin: 0 0;
            margin-top: 5px
        }
        .sharer-0 .social.middle {
            margin-top: -34px
        }
        .sharer-0 .social.middle.right {
            -webkit-transform-origin: 5% 50%;
            -ms-transform-origin: 5% 50%;
            transform-origin: 5% 50%;
            margin-left: 105px
        }
        .sharer-0 .social.middle.left {
            -webkit-transform-origin: 5% 50%;
            -ms-transform-origin: 5% 50%;
            transform-origin: 5% 50%
        }
        .sharer-0 .social.right {
            margin-left: 14px
        }
        .sharer-0 .social.load {
            -webkit-transition: none!important;
            transition: none!important
        }
        .sharer-0 .social.networks-1 {
            width: 60px
        }
        .sharer-0 .social.networks-1.center,
        .sharer-0 .social.networks-1.left {
            margin-left: 14px
        }
        .sharer-0 .social.networks-1.middle.left {
            margin-left: -70px
        }
        .sharer-0 .social.networks-1 ul {
            width: 60px
        }
        .sharer-0 .social.networks-2 {
            width: 120px
        }
        .sharer-0 .social.networks-2.center {
            margin-left: -13px
        }
        .sharer-0 .social.networks-2.left {
            margin-left: -44px
        }
        .sharer-0 .social.networks-2.middle.left {
            margin-left: -130px
        }
        .sharer-0 .social.networks-2 ul {
            width: 120px
        }
        .sharer-0 .social.networks-3 {
            width: 180px
        }
        .sharer-0 .social.networks-3.center {
            margin-left: -45px
        }
        .sharer-0 .social.networks-3.left {
            margin-left: -102px
        }
        .sharer-0 .social.networks-3.middle.left {
            margin-left: -190px
        }
        .sharer-0 .social.networks-3 ul {
            width: 180px
        }
        .sharer-0 .social.networks-4 {
            width: 240px
        }
        .sharer-0 .social.networks-4.center {
            margin-left: -75px
        }
        .sharer-0 .social.networks-4.left {
            margin-left: 162px
        }
        .sharer-0 .social.networks-4.middle.left {
            margin-left: -250px
        }
        .sharer-0 .social.networks-4 ul {
            width: 240px
        }
        .sharer-0 .social.networks-5 {
            width: 300px
        }
        .sharer-0 .social.networks-5.center {
            margin-left: -105px
        }
        .sharer-0 .social.networks-5.left {
            margin-left: -225px
        }
        .sharer-0 .social.networks-5.middle.left {
            margin-left: -320px
        }
        .sharer-0 .social.networks-5 ul {
            width: 300px
        }
        .sharer-0 .social.active {
            opacity: 1;
            -webkit-transition: all .4s ease;
            transition: all .4s ease;
            visibility: visible
        }
        .sharer-0 .social.active.top {
            -webkit-transform: scale(1) translateY(-10px);
            -ms-transform: scale(1) translateY(-10px);
            transform: scale(1) translateY(-10px)
        }
        .sharer-0 .social.active.bottom {
            -webkit-transform: scale(1) translateY(15px);
            -ms-transform: scale(1) translateY(15px);
            transform: scale(1) translateY(15px)
        }
        .sharer-0 .social.active.middle.right {
            -webkit-transform: scale(1) translateX(10px);
            -ms-transform: scale(1) translateX(10px);
            transform: scale(1) translateX(10px)
        }
        .sharer-0 .social.active.middle.left {
            -webkit-transform: scale(1) translateX(-10px);
            -ms-transform: scale(1) translateX(-10px);
            transform: scale(1) translateX(-10px)
        }
        .sharer-0 .social ul {
            position: relative;
            left: 0;
            right: 0;
            height: 46px;
            color: #fff;
            margin: auto;
            padding: 0;
            list-style: none
        }
        .sharer-0 .social ul li {
            font-size: 20px;
            cursor: pointer;
            width: 60px;
            margin: 0;
            padding: 12px 0;
            text-align: center;
            float: left;
            display: none;
            height: 22px;
            position: relative;
            z-index: 2;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            -webkit-transition: all .3s ease;
            transition: all .3s ease
        }
        .sharer-0 .social ul li:hover {
            color: rgba(0, 0, 0, .5)
        }
        .sharer-0 .social li[class*=facebook] {
            background: #3b5998;
            display: block
        }
        .sharer-0 .social li[class*=twitter] {
            background: #6cdfea;
            display: block
        }
        .sharer-0 .social li[class*=gplus] {
            background: #e34429;
            display: none
        }
        .sharer-0 .social li[class*=pinterest] {
            background: #c5282f;
            display: none
        }
        .sharer-0 .social li[class*=paper-plane] {
            background: #42c5b0;
            display: block
        }