html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background: 0 0;
}
a:active,
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: 700;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
}
mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto;
}
input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: 700;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    color: #FFF;
    font-family: Helvetica, Arial, Sans-Serif;
    background-color: #000000;
}
.videoBtn {
    display: none;
    border: none;
}
.showVideo {
    background-color: #222;
}
.showVideo .main {
    padding: 5% 0;
}
.showVideo .main p,
.showVideo .main form {
    display: none;
}
.showVideo .main .videoBox {
    display: block;
    margin: 0 10%;
}
.showVideo .videoBtn {
    display: inline-block;
    margin-top: 3%;
    margin-bottom: 10%;
    border: none;
    color: #FFF;
}
.showVideo .videoBtn a {
    color: #000000;
    text-decoration: none;
    display: inline-block;
    padding: 0.8em 1em;
}
header {
    padding: 5% 0 4% 0;
}
header h1 {
    display: inline-block;
    font-size: 7.5em;
    font-family: Metal Mania;
    vertical-align: top;
}
header h1 a {
    color: #FFF;
    text-decoration: none;
}
.main {
    text-align: center;
    padding: 8% 0 15% 0;
}
.main .videoBox {
    display: none;
}
.main p {
    margin: 0;
    font-size: 2.3em;
    padding-bottom: 3%;
}
.main form input {
    padding: 0.8em 1em;
    color: #000000;
    border: none;
    background-color: #FFF;
    border-radius: 0;
}
.main form input[type="search"] {
    color: #000000;
    width: 30%;
    transition: background-color 0.5s;
    margin-right: 1%;
}
.main form input[type="search"]:focus {
    outline: none;
    background-color: lightgray;
}
.main form::-webkit-input-placeholder {
    color: #BFBFBF;
    text-align: center;
}
.main form:-moz-placeholder {
    /* Firefox 18- */
    
    color: #BFBFBF;
    text-align: center;
}
.main form::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #BFBFBF;
    text-align: center;
}
.main form:-ms-input-placeholder {
    color: #BFBFBF;
    text-align: center;
}
.button {
    background-color: #FFF;
    transition: all 0.5s;
    border-radius: 0;
}
.button:hover {
    background-color: gray;
    color: #FFF;
}
footer {
    font-size: 1.2em;
}
footer p {
    text-align: center;
    padding: 3em 0;
    margin: 0;
}
footer a {
    text-decoration: none;
    color: #000000
    font-weight: bold;
}
footer #share {
    margin: 10% auto 0;
}
svg {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: 3%;
    fill: #FFF;
}
svg #one {
    -webkit-transition: fill 0.5s;
    -moz-transition: fill 0.5s;
    -o-transition: fill 0.5s;
    transition: fill 0.5s;
    fill: #FFF;
}
svg #one:hover {
    fill: #8a9b0f;
}
svg #two {
    -webkit-transition: fill 0.5s;
    -moz-transition: fill 0.5s;
    -o-transition: fill 0.5s;
    transition: fill 0.5s;
    fill: #FFF;
}
svg #two:hover {
    fill: #bd1550;
}
svg #three {
    -webkit-transition: fill 0.5s;
    -moz-transition: fill 0.5s;
    -o-transition: fill 0.5s;
    transition: fill 0.5s;
    fill: #FFF;
}
svg #three:hover {
    fill: #490a3d;
}
@media (max-width: 940px) {
    .main p {
        font-size: 2em;
    }
    .main form input[type="search"] {
        width: 40%;
    }
}
@media (max-width: 480px) {
    .main {
        margin-bottom: 20%;
    }
    .main form input[type="search"] {
        width: 85%;
        margin: 0 auto 5%;
    }
    .main form input[type="submit"] {
        width: 40%;
    }
    svg {
        margin: 0 auto;
        display: block;
    }
    header h1 {
        font-size: 5em;
        text-align: center;
        display: block;
    }
}
.title_metalcover{
    font-size: 0.9em;
}